.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featuredItem{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow:0px 0px 11px -1px #000000;
    box-shadow: 0px 0px 11px -1px #000000;
}